<% provide(:page_title, 'Добро пожаловать!') %>
<div class="container">

  <div class="row">
    <div class="col-sm-3">
      <ul class="nav nav-pills nav-stacked">

        <li><a href="/admin/clients">Клиенты</a></li>

        <li><a href="#">Заявки на заказ образцов</a></li>
        <li><a href="#">Зарегистрированные продажи</a></li>
        <li><a href="#">Подиумные диваны</a></li>
        <li><a href="#">Заявки на обмен</a></li>
        <li><a href="#">Заданные вопросы</a></li>
        <li><a href="#">Отзывы клиентов</a></li>
        <li class="active"><a href="#">Профиль</a></li>

        <li><a href="#">Информация</a></li>

      </ul>
    </div>
    <div class="col-sm-9">
      <h4><%= current_user_full_name%></h4>



      <div class="row">
        <div class="col-md-3">Телефон:</div>
        <div class="col-md-3"><p>dd</p></div>
      </div>
      <div class="row">
        <div class="col-md-3">почта:</div>
        <div class="col-md-3"><p><%= current_user.email%></p></div>
      </div>
      <div class="row">
        <div class="col-md-3">компания*:</div>
        <div class="col-md-3"><p>Не известно</p></div>
      </div>
      <div class="row">
        <div class="col-md-3">город*:</div>
        <div class="col-md-3"><p>Не известно</p></div>
      </div>
      <div class="row">
        <div class="col-md-3">Адрес:</div>
        <div class="col-md-3"><p>Не известно</p></div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">Точки продаж:</div>
        <div class="col-md-3">

          <ul>
            <li>ООО Дивид<p class="small text-info">Москва</p></li>
            <li>ЗАО Ткани<p class="small text-info">СПБ</p></li>
          </ul>

        </div>
      </div>

      <%= link_to('Редактировать профиль', edit_user_registration_path, :class => "btn btn-primary", :role=>"button") %>

    </div>

    </div>
  </div>
</div>

