<% provide(:page_title, 'Добро пожаловать!') %>
<div class="container">

  <div class="row">
    <div class="col-sm-3">
      <ul class="nav nav-pills nav-stacked">

        <li><a href="#">Бонусный счёт</a></li>
        <li class="active"><a href="#">Профиль</a></li>
        <li><a href="#">Акции</a></li>
        <li><a href="#">Новинки</a></li>
        <li><a href="#">Заказать образцы</a></li>
        <li><a href="#">Отзывы</a></li>
        <li><a href="#">Задать вопрос</a></li>
        <li><a href="#">Вебинары</a></li>

        <li><a href="#">Информация</a></li>

      </ul>
    </div>
    <div class="col-sm-9">
      <h4><%= current_user_full_name%></h4>



      <div class="row">
        <div class="col-md-3">Телефон:</div>
        <div class="col-md-3"><p>dd</p></div>
      </div>
      <div class="row">
        <div class="col-md-3">почта:</div>
        <div class="col-md-3"><p><%= current_user.email%></p></div>
      </div>
      <div class="row">
        <div class="col-md-3">компания*:</div>
        <div class="col-md-3"><p>Не известно</p></div>
      </div>
      <div class="row">
        <div class="col-md-3">город*:</div>
        <div class="col-md-3"><p>Не известно</p></div>
      </div>

      <%= link_to('Редактировать профиль', edit_user_registration_path) %>

    </div>

    </div>
  </div>
</div>

