@import "bootstrap-sprockets";
@import "bootstrap-custom";

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 4px;
  width: auto;

}
.navbar-brand-text {
  color: #000000 !important;
}

.footer {
  padding-top: 10px;
  color: #c8c8c8;
  border-top: 1px solid #eeeeee;
  margin-top: 100px;
}
.field_with_errors {
  color: #d43f3a;

}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color:  #d43f3a;
}
}
#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

ul.issues {
  list-style: none;
  padding: 0;


}

ul.issues li {
  padding: 15px;
  border: 1px solid #eeeeee;
  font-size: 13px;

}
ul.issues li .date{
  color: #777777;

}
ul.issues li .comments{
  color: #777777;

}


